<!DOCTYPE html>
<html>
<head>
    <title>Smart Attendance System</title>
</head>
<body style="text-align:center; font-family:Arial;">
    <h1>Smart Attendance System</h1>

    <a href="/start">
        <button style="padding:10px; margin:10px;">Start Attendance</button>
    </a>

    <a href="/attendance">
        <button style="padding:10px; margin:10px;">View Attendance</button>
    </a>

    <a href="/report">
        <button style="padding:10px; margin:10px;">Generate CSV Report</button>
    </a>

</body>
</html>